.git
.gitignore
.gitattributes

node_modules
vendor

.env

storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/framework/testing

npm-debug.log
yarn-error.log

.editorconfig
.npmrc
.idea
.vscode
*.md
README.md
LICENSE

Dockerfile
compose.yaml
docker-compose.yml
